<div class="about-us whos-behind-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 whos-behind">
                <h3>Uma breve história</h3>
                <br /><br />
                <%= video_tag '395967764.mp4', width: '100%', :controls => true %>
            </div>
        </div>
    </div>
</div>
