<div class="about-us whos-behind-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 whos-behind">
                <h3>Uma breve história</h3>
                <!--<br /><br />-->
                <%#= video_tag '395967764.mp4', width: '100%', :controls => true %>
                <iframe id="our-video" src="https://player.vimeo.com/video/134247752?title=0&byline=0&portrait=0" width="100%" height="80%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
