<div class="gift-section">
    <div class="container">
        <div class="embed-container">
            <object id="presents-embed" data="http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=422549" width="100%">
                <p class="iframe_erro">Puts, foi mal parece que a lista não carregou!!! Se você estiver acessando através de qualquer dispositivo movél como celular ou tablet
                    já vou avisando que a culpa não e minha, infelizmente o Ponto Frio não libera o acesso da lista de presentes para dispositiveis móveis,
                    afinal, quem usa celular pra navegar na net hoje em dia?! Outra possibilidade é você estar em um navegador que não suporta IFRAMES, ou seja
                    lá o que isso for rsrsrsrs, enfim, se você estiver em um celular terá de ir a um computador (sim eu sei não faz sentido!) caso esteja em um
                    computador que não suporte esta avançadíssima tecnologia chamada IFRAME
                    <%= link_to 'clique aqui', 'http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=422549', target: '_blank' %>
                    e você vai conseguir acessar a lista de presentes diretamento do site do Ponto Frio.
                </p>
            </object>
        </div>
    </div>
</div>
