<div class="home-section">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="logo">
                        <h1><%= content_tag 'a', 'Maiara & Diogo' %></h1>
                    </div>

                    <h2 class="our-name">Maiara & Diogo</h2>
                    <p>Já estamos em contagem regressiva para o grande dia. Faltam...</p>

                    <div class="timer">
                        <div class="days-wrapper">
                            <span class="days"></span> <br>dias
                        </div>
                        <div class="hours-wrapper">
                            <span class="hours"></span> <br>horas
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes"></span> <br>minutos
                        </div>
                        <div class="seconds-wrapper">
                            <span class="seconds"></span> <br>segundos
                        </div>
                    </div>

                    <p class="top-arrow">
                        <i class="fa fa-chevron-down"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
