.testimonial_add_button {
  background: #3d3d3d;
  border-radius: 4px 4px 0 0;
  bottom: 0;
  color: #ebebeb;
  cursor: pointer;
  height: 35px;
  padding: 0 15px 10px 15px;
  position: fixed;
  right: 20px;
  vertical-align: middle;

  * {
    display: inline-block;
    float: left;
    margin: 10px 5px 0 0;
    height: 100%;
  }

  img {
    height: 18px;
  }
}
