.gift-section {
  margin: 60px auto 0 auto;
  padding-bottom: 60px;
  color: #fff;
}
/*
.about {
  margin-top: 60px;
  padding-bottom: 10px;
}

.about h3 {
  font-size: 46px;
  font-weight: 100;
  line-height: 50px;
}

.about p {
  margin-top: 30px;
  padding: 0 120px;
  font-size: 22px;
  line-height: 36px;
}

.about-box-1 {
  margin-top: 30px;
}

.about-box-1 h4 {
  padding: 10px 0;
  font-size: 30px;
  font-weight: 100;
  line-height: 34px;
}

.about-box-1 p {
  font-size: 18px;
  line-height: 32px;
}

.about-box-1 .about-box-1-icon {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  padding-top: 28px;
  background: #e8643e;
  border: 1px solid #e8643e;
  font-size: 56px;
  -moz-border-radius: 85px;
  -webkit-border-radius: 85px;
  border-radius: 85px;
  cursor: pointer;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.about-box-1 .about-box-1-icon:hover {
  background: none;
  border: 1px solid #fff;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}*/

.embed-container {
  margin-top: 60px;
  height: 600px;
}
#presents-embed {
  height: 100%;
}
.iframe_erro {
  text-align: justify;
  padding-top: 100px;
}
