<div class="container">
    <div class="row">
        <div class="col-sm-12 testimonials">
            <h3>Declarações de amizade!</h3>
            <div class="testimonial-active"></div>
            <div class="testimonial-quote">&ldquo; &rdquo;</div>

            <div class="testimonial-single">
                <p>
                    <%= @testimonial.testimonial %>
                    <br />
                    <a href="<%= @testimonial.profile %>"><%= @testimonial.name %></a>
                </p>
                <div class='testimonial-single-image'>
                    <img src="<%= @testimonial.picture %>" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<%#= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%#= link_to 'Back', testimonials_path %>
