<a id="lightbox_link" class="dead_link" href="javascript:e.preventDefault()">
    <div class="testimonial_add_button">
        <%= image_tag(image_url 'add-testimonial-button.png') %>
        <p>Enviar depoimento</p>
    </div>
</a>
