<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-7 footer-copyright">
                <p>&copy; 2015 - Developed by <%= link_to 'Diogo de Lima', 'https://br.linkedin.com/in/diogogama', target: '_blank' %><br>Todos os direitos reservados.</p>
            </div>
            <div class="col-sm-5 footer-social">
                <!--<a class="ultm ultm-facebook ultm-48 ultm-square ultm-gray-to-color" href=""></a>-->
                <!--<a class="ultm ultm-twitter ultm-48 ultm-square ultm-gray-to-color" href=""></a>-->
                <!--<a class="ultm ultm-google-plus-1 ultm-48 ultm-square ultm-gray-to-color" href=""></a>-->
                <!--<a class="ultm ultm-dribbble ultm-48 ultm-square ultm-gray-to-color" href=""></a>-->
                <!--<a class="ultm ultm-pinterest ultm-48 ultm-square ultm-gray-to-color" href=""></a>-->
            </div>
        </div>
    </div>
</footer>
