<div id="lightbox" class="containeccr">
    <div class="box">
        <a id="lightbox_link_close" class="lightbox_close" href="#">X</a>
        <p class="title">Criando depoimento</p>
        <div class="row lightbox_content">
            <!-- Conteúdo da lightbox -->
        </div>
    </div>
</div>
